<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>186117342620-rbuql0v90te40oihqrp93olcg13r74k6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.186117342620-rbuql0v90te40oihqrp93olcg13r74k6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>186117342620-9qpqcai85juma9knghirgnghn5crjaig.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAqN3p89qxr2aI9G-DXM8KZt2fkik33ZXg</string>
	<key>GCM_SENDER_ID</key>
	<string>186117342620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.herenow</string>
	<key>PROJECT_ID</key>
	<string>where-to-b7e849</string>
	<key>STORAGE_BUCKET</key>
	<string>where-to-b7e849.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:186117342620:ios:f0ba065aed6ec5f67a7459</string>
</dict>
</plist>